<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO Als je op de voeg verzekering toe knop klikt na de het zoeken op klant kom je op deze pagina terecht.
        Deze pagina is hetzelfde als de read van customer maar dan met onderaan een dropdown menu waarmee je een verzekering aan een
        klant kan koppelen. (dit is hetzelfde als bij de book pagina van de bibliotheek casus waarbij je een book aan een member koppelt.</div>
    </body>
</html>
