<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

    <!--/* Content of this page will be decorated by the elements of layout.html (student/layout) */-->
    <div class="container" layout:fragment="summary">

        <div class="page-header">
            <h1><i class="fa fa-credit-card-alt" aria-hidden="true"></i>&nbsp;Factureren</h1>
        </div>
        
        <div class="tekst-btn-margin">
            <h2>PDF</h2>
        </div>  
        <row>
            <div class="tekst-btn-margin">
                <p>De PDF is aangemaakt</p>
            </div> 
        </row>
        <div class="col-sm-3">
                <a href="/invoices" class="btn btn-primary" role="button">Terug naar het overzicht</a>
                <!-- Button trigger modal -->
                
            </div>
         
    </div>
    
    <footer class="footer">
        <div th:replace="fragments/footer :: footer">&copy; 2016 Facturatie Systeem</div>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>