<!DOCTYPE html>
<html>
    <head th:replace="fragments/head :: head"></head>

<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

    <!--/* Content of this page will be decorated by the elements of layout.html (student/layout) */-->
    <div class="container" layout:fragment="summary">

        <div class="page-header">
            <h1><i class="fa fa-pencil fa-fw"></i>&nbsp;Pas rekening aan</h1>
        </div>
        <p>Hier kunt u de rekening aanpassen</p>

        <!-- Form om een nieuwe repository te maken. Het object 'repository' is het object waarin de
            waarden uit het formulier worden ingevuld. Het is afkomstig uit de BillingController. -->
        <form id="editBillingForm" action="#" th:action="@{'/billing/' + ${billing.billingID} + '/edit'}" th:object="${billing}" method="post">

            <!-- Het formulier wordt na verzenden gevalideerd in de BillingController.
                Als er fouten waren kun je hier een lijst met foutmeldingen tonen.
                Je kunt ook de melding bij het inputveld tonen (zie code hieronder) en evt. de CSS class
                van het inputveld veranderen. -->
            <!--<ul th:if="${#fields.hasErrors('*')}" class="errorlist">-->
                <!--<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>-->
            <!--</ul>-->
            
            

            <div th:if="${#fields.hasErrors('*')}">
                <div layout:include="views/billing/alert :: alert" th:with="type='danger', header='Fouten in het formulier'" th:remove="tag">
                    <!--/* Implements alert summary fragment with full-blown HTML summary */-->
                    <th:block layout:fragment="alert-summary">
                        <p>Niet alle velden in het formulier zijn correct ingevuld. Corrigeer deze en verzend opnieuw.</p>
                        
                    </th:block>
                </div>
            </div>
            <div th:if="${exception}">
                <div layout:include="views/billing/alert :: alert" th:with="type='danger', header='Fouten in het formulier'" th:remove="tag">
                    <!--/* Implements alert summary fragment with full-blown HTML summary */-->
                    <th:block layout:fragment="alert-summary">
                        <p th:text="${exception}">Exception message</p>
                        <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                    </th:block>
                </div>
            </div>
            
            
            <div class="row"
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="customerID">klantenID</label>
                        <!-- th:field="*{name}" is de koppeling naar het attribuut 'name' van het object 'repository' th:value="{costumer.}"-->
                        <input type="text" class="form-control" id="firstname" th:value="${billing.customerID}" th:field="*{customerID}"/>
                        <p th:if="${#fields.hasErrors('customerID')}" th:errors="*{customerID}">Name Error</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="invoiceDate">Datum</label>
                        <!-- th:field="*{name}" is de koppeling naar het attribuut 'name' van het object 'repository' th:value="{costumer.}"-->
                        <input type="text" class="form-control" id="firstname" th:value="${billing.invoiceDate}" th:field="*{invoiceDate}"/>
                        <p th:if="${#fields.hasErrors('invoiceDate')}" th:errors="*{invoiceDate}">Name Error</p>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="expirationDate">Verloopdatum</label>
                        <!-- th:field="*{name}" is de koppeling naar het attribuut 'name' van het object 'repository'-->
                        <input type="text" class="form-control" id="lastname" th:field="*{expirationDate}"/>
                        <p th:if="${#fields.hasErrors('expirationDate')}" th:errors="*{expirationDate}">Name Error</p>
                    </div>
                 </div>
            </div>
            <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="treatmentID">Behandeling ID</label>
                        <!-- th:field="*{name}" is de koppeling naar het attribuut 'name' van het object 'repository'-->
                        <input type="text"  class="form-control" id="birthDate" th:field="*{treatmentID}"/>
                        <p th:if="${#fields.hasErrors('treatmentID')}" th:errors="*{treatmentID}">Name Error</p>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="duration">Duur</label>
                        <!-- th:field="*{name}" is de koppeling naar het attribuut 'name' van het object 'repository'-->
                        <input type="text" class="form-control" id="street" th:field="*{duration}"/>
                        <p th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}">Name Error</p>
                    </div>
            </div>
            <!-- De button die voor verzenden van het formulier zorgt.
                De name 'save' is een parameter waarmee in de BillingController de juiste
                save-actie wordt gestart. -->
            <button type="submit" class="btn btn-primary" name="save">Pas aan</button>
        </form>
    </div>


    <footer class="footer">
        <div th:replace="fragments/footer :: footer">&copy; 2016 Facturatie Systeem</div>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>