<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
    <div class="container" th:fragment="footer">
        <p class="text-muted">
            <a href="https://github.com/MathijsKors/proftaakVH5B1" target="_blank">Github</a> |
            <a href="https://dashboard.heroku.com/apps/facturatie" target="_blank">Heroku</a> |
            <a href="http://145.48.6.148/phpmyadmin/facturatie" target="_blank">Database</a>
        </p>
    </div>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

</body>
</html>

