<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<!-- Header -->
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-menubuilder">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img class="logo" src="../../img/logo.png" /><h1>Facturatie</h1></a>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</a></li>
                <li><a href="/invoices"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>&nbsp;Factureren</a></li>
                <li><a href="/customers"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Klanten</a></li>
                <li class="dropdown">
                    <a href="/insurances" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-handshake-o" aria-hidden="true"></i> Verzekeringen<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Verzekeringen </li>
                        <li role="presentation">
                            <a href="/insurances">Verzekering beheren</a>
                        </li>
                        <li role="presentation">
                            <a href="/searchpage">Verzekeringen koppelen</a>
                        </li>
                    </ul>
                </li>
                <li><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></li>
                <li><a href="/settings"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;Instellingen</a></li>
                <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a></li>
            </ul>
            
        </div>
    </div>
</div>
</nav>

</body>
</html>