<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

    <!--/* Content of this page will be decorated by the elements of layout.html (student/layout) */-->
    <div class="container" layout:fragment="summary">

        <div class="page-header">
            <h1>Overzicht van Klanten</h1>
        </div>
        
        <p>Hieronder ziet u het overzicht van de klanten. Door op de naam te klikken, kunt u de gegevens inzien.</p>
        
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered ">
                <thead class="thead-inverse">
                    <tr>
                        <th>Klanten ID</th>
                        <th>Naam</th>
                        <th>Telefoonnummer</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${customers.empty}">
                        <td colspan="4">Geen Klanten</td>
                    </tr>
                    <tr th:each="customer : ${customers}">
                        <td th:text="${customer.customerID}">1</td>
                        <td><a th:href="@{/customer/{id}(id=${customer.customerID})}" th:text="${customer.firstName} + ' ' + ${customer.lastName}">Naam ...</a></td>
                        <td th:text="${customer.phoneNumber}">Telefoonnummer ...</td>
                        <td th:text="${customer.emailAddress}">Email ...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <footer class="footer">
        <div th:replace="fragments/footer :: footer">&copy; 2016 Facturatie Systeem</div>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>