<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

    <!--/* Content of this page will be decorated by the elements of layout.html (student/layout) */-->
    <div class="container" layout:fragment="summary">

        <div class="page-header">
            <h1>Informatie klant</h1>
        </div>
        <p>Hieronder ziet u de geselecteerde klant.</p>
            <!--<p th:if="${repository.empty}"> No customers found.</p>-->

        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2 th:text="${customer.firstName} + ' ' + ${customer.lastName}">Naam ...</h2>
                        <div class="row">
                            <div class="col-xs-3">Adres</div>
                            <div class="col-xs-9">
                                <p>
                                    <span th:text="${customer.street} + ' ' + ${customer.houseNumber}">Adres</span><br/>
                                    <span th:text="${customer.city}">Street</span>
                                </p>
                            </div>
                            <div class="col-xs-3">Email</div>
                                <div class="col-xs-9"><p th:text="${customer.emailAddress}">Email ...</p>
                            </div>
                            <div class="col-xs-3">Telefoon</div>
                                <div class="col-xs-9"><p th:text="${customer.phoneNumber}">Tele ...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <a href="/customers" class="btn btn-primary active pull-left" role="button">Terug naar het overzicht</a>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger pull-left" data-toggle="modal" data-target="#myModal">
                    Verwijderen
                </button>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Klant verwijderen</h4>
                    </div>
                    <div class="modal-body">
                        <p>Weet je zeker dat je <span th:text="${customer.firstName} + ' ' + ${customer.lastName}">deze customer</span> wilt verwijderen?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nee, annuleer</button>
                        <button type="button" class="btn btn-danger" th:onclick="'javascript:sendAjaxDeleteRequest(\'' + ${customer.customerID} + '\');'">Ja, verwijder</button>

                        <!--  -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div th:replace="fragments/footer :: footer">&copy; 2016 Facturatie Systeem</div>
    </footer>
    
    <script>
        function sendAjaxDeleteRequest(id) {
            $.ajax({
                url: '/customer/' + id,
                type: 'DELETE',
                success: function(result) {
                    // Go to the list of customer
                    location.href = "/customers"
                },
                error: function(result) {
                    alert('Error: kon deze persoon niet verwijderen.');
                }
            });
         }
    </script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>